__pycache__
help
i18n
scripts
test
*.xls
*.bat
*.ui
*.png
*.txt
*.csv
*.qrc
*.html
Makefile
resources.py
*.cfg
pylintrc
.gitignore
test_data
test_date_2
*.log
*.json
*.cpg
*.dbf
*.prj
*.shp
*.shx
Calendrier.xls